<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16">
    <title>
        <%= title %>
    </title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }

    .chutter {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: 30px;
        padding-top: 30px;
    }
</style>

<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-light bg-light">
            footer

        </nav>
    </div>
</body>

</html>