<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16">
    <title>
        <%= title %>
    </title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }

    .chutter {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: 30px;
        padding-top: 30px;
    }
</style>

<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">
                <img src="https://lh3.googleusercontent.com/H45FF4g5LM07Sz6OqqVUmmC4UWgGPRmyhXXSlsfiEBX7bLsApCyaBNRDbmK4yXzWeb_vk66M04UXPLlOcIyPV8tajQqBo_ioRSfsfJHawp6Qr1c1n_cbujJimzIdiNRjb0JQ5iO_ZQxSeF54_GGsNTrs1sZZdAZ4shpBtb_ARwIkAPUAqUpuqumJOL8nJ845mjnOstQVvIr6UM2dpNR8ypeBZvMhdU1rCvWEwtMrxU1bvhafzlmQU6vj3j0NcoIQLiQjLvtlfW46a-TaFBgQjS0uWh3YCek7K8bmFX55MUjYvRwdPsdXlmDUHbpjHAOHEWTbtgRBRtFwBtw_P3NWcCwwboYw7aSxgRMQAekdthCp3nwooNdU6cD22mYfRruzWd7XzljFa6ybw30N7lih4QlzeRW0Vi8T0-O-64F2xLMTdlNJfJlsts2uKjyDpQujSA2Yqofv3yB-nkM_8z_Y8Q0WGn0AzoIW3oP3ESJVFyLFduN9yWf-aJTJRyqHr2Syn4uMb4ipc3Hs9agcZjUjDcg4By8xiiFHKoTx-5rGYwr8Tg9F-yjxwnawpctdAwd09wfUiI5xyV1Wy4XvDsrVgc7ft3lMl81Hm-58QT9tZlUPWHcV5AEqSaEmZk7VaMTtQbyDIFV-bElJ0JODQGSVNcMsN5ZY7iwR6T0_rOUazUwqqm3IeZ0MTFBN57jfgqFBixoGGb4nhmztqoe7UKNH39XFog=s292-no?authuser=0"
                    width="50px" />
                <a href="/" class="chutter"> Chutter</a></span>
            <button><a class="float-right" href="/" title="Login">Login</a></button>
        </nav>
    </div>
</body>

</html>